<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1096544759521-hb32r4epsrqg6isbv4gp3f3tf4aood2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096544759521-hb32r4epsrqg6isbv4gp3f3tf4aood2l</string>
	<key>API_KEY</key>
	<string>AIzaSyA_SEq5PwgvNlQcPq2Lf2JifutxGp49PHY</string>
	<key>GCM_SENDER_ID</key>
	<string>1096544759521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duwafarm.DLetraApp</string>
	<key>PROJECT_ID</key>
	<string>dletra-de110</string>
	<key>STORAGE_BUCKET</key>
	<string>dletra-de110.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096544759521:ios:55738c85f8bbb9d8</string>
	<key>DATABASE_URL</key>
	<string>https://dletra-de110.firebaseio.com</string>
</dict>
</plist>